@model ByteBank.Forum.ViewModels.ContaVerificacaoDoisFatoresViewModel

@{
    ViewBag.Title = "VerificacaoDoisFatores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verificação de SMS</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.EditorForModel()

    <input type="submit" value="Enviar!" />
}
